# Ignore local .terraform directories
.terraform/

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore backup of the previous .tfstate files
*.tfstate.backup

# Ignore crash log files
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore sensitive variable files
*.tfvars
*.tfvars.json
secret.tfvars
credentials.tfvars

# Ensure .terraform.lock.hcl is not ignored
!.terraform.lock.hcl
